#tbl_login{
  color: rgba(150,150,150,1);
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}

/* ........................... Header ..................... */

#logo{
  margin:auto;
  background-image: url(LOGO_1.png);
  background-repeat: no-repeat;
  background-size: 65%;
  width: 250px;
  height: 100px;
}

.header{
  margin-top: 20px;
}

/* ................................ Menu ................... */

#menu:link, #menu:visited {
    font-size: 25px;
    font-family: 'Aclonica', sans-serif;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#menu:hover, #menu:active {
    background-color: lightgray;
    text-decoration: none;
}

/* ................................ Content ............................. */
#thumbnail{
  margin-top: 50px;
  height: 20%;
}
#Content{
  width: 100%;
}
#content:link, #content:visited {
    font-size: 25px;
    font-family: 'Aclonica', sans-serif;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#content:hover, #content:active {
    background-color: lightgray;
    text-decoration: none;
}
#content_title{
  font-size: 25px;
  font-family: 'Aclonica', sans-serif;
  color:red;
}
#content_text{
  color: red;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}

/* ....................................... Responsive ......................................... */

/* On smaller screens, decrease text size */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

/* ###################################### Container ################################*/

/* ######################### video #################### */
#thumbnail_video{
  margin-left: 15px;
  width: 100%;
  background-color: lightgray;
  padding-top: 15px;
  padding-bottom: 15px;
}
video {
    width: 100%;
    height: auto;
}

/* ######################### footer #################### */
#footer{
  margin-top: 25px;
  padding-top: 5px;
  width: 100%;
  background-color: black;
  color: white;
}
