
#navbar{
  padding-right: 100px;
}


/* ........................... Header ..................... */

#logo{
  margin: auto;
  background-image: url(logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 250px;
  height: 100px;
}

.header{
  margin-top: 20px;
}

#menu:link, #menu:visited {
    font-size: 25px;
    font-family: 'Aclonica', sans-serif;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#menu:hover, #menu:active {
    background-color: lightgray;
    text-decoration: none;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* ###################################### Container ################################*/
