#navbar{
  padding-right: 100px;
}


/* ........................... Header ..................... */

#logo{
  margin: auto;
  background-image: url(logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 250px;
  height: 100px;
}

.header{
  margin-top: 20px;
}

#menu:link, #menu:visited {
    font-size: 25px;
    font-family: 'Aclonica', sans-serif;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#menu:hover, #menu:active {
    background-color: lightgray;
    text-decoration: none;
}

#content:link, #content:visited {
    font-size: 25px;
    font-family: 'Aclonica', sans-serif;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#content:hover, #content:active {
    background-color: lightgray;
    text-decoration: none;
}
#content_title{
  color:red;
}
#content_text{
  color: red;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

/* ###################################### Container ################################*/

/* ######################### video #################### */
